.subpage {
    .contacts {
        @include media("md") {
            text-align: center;
        }
        &-box {
            b, strong {
                color: $tertiary-color;
                font-size: 16px;
            }
            p {
                font-size: 16px;
                line-height: 30px;
                margin-bottom: 0;
            }
        }
        &-phone a {
            font-size: 20px;
            color: $tertiary-color;
            line-height: 34px;
            font-weight: 700;
        }
        &-mail a {
            font-size: 20px;
            color: $highlight-color;
            line-height: 34px;
            font-weight: 700;
        }
        iframe {
            height: 490px;
            filter: grayscale(1);
        }
    }
}