.showcase {
    background-image: url("../img/section-sortiment-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    &-textbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        h2 {
            color: $secondary-color;
            font-size: 36px;
            line-height: 48px;
            font-weight: 600;
            max-width: 85%;
            margin-bottom: 1rem;
            @include media("lg") {
                max-width: 100%;
            }
            @include media("md") {
                font-size: 32px;
                line-height: 42px;
            }
        }
        p {
            color: $secondary-color;
            font-size: 18px;
            line-height: 32px;
            max-width: 80%;
            margin-bottom: 1.75rem;
            @include media("lg") {
                max-width: 100%;
            }
            @include media("md") {
                font-size: 17px;
                line-height: 30px;
            }
        }
    }
    &-image {
        max-height: 450px;
        @include media("lg") {
            margin-bottom: 2rem;
        }
        @include media("md") {
            margin-left: auto;
            margin-right: auto;
        }
    }
    @include media("md") {
        text-align: center;
    }
}