$primary-color: #221f1f;
$primary-color-red: #9e1b3e;
$secondary-color: #fff;
$tertiary-color: #000;

$paragraph-color: #7a7a7a;

$background-color: #fff;
$background-color-dark: #9e1b3e;
$background-color-grey: #efefef;

$highlight-color: #c10041;

$button-radius: 25px;

$contactform-color: #f0f1f4;

$table-header-color: #f0f1f4;
$table-row-odd-color: #f8f9fb;
$table-row-even-color: #ffffff;

$breaks: (
    "sm": 576px,
    "md": 768px,
    "lg": 993px,
    "xl": 1200px,
    "xxl": 1600px,
);